@use "./base/reset";
@use "./base/variables" as *;
@use "./base/fonts";
@use "./base/mixins" as *;

body {
  background-color: $bodybg;
  margin-top: 28px;
  font-family: Roboto, sans-serif;
}
.app {
  width: 95%;
  margin: 0 auto;
  max-width: 572px;
  &__form {
    background-color: $green;
    border-radius: 10px;
    padding: 18px;
    position: relative;
    &__input {
      height: 65px;
      border-radius: 7px;
      color: $white;
      width: calc(100% - 32.5px);
      background-color: rgba($white, 0.2);
      border: none;
      outline: none;
      font-size: 1.8rem;
      padding-left: 26px;
      padding-right: 58.5px;
      transition: all 400ms;
      &::placeholder {
        color: rgba($white, 0.75);
      }
      &--error {
        background-color: $red;
      }
    }
    &__button {
      position: absolute;
      right: 18px;
      top: 18px;
      width: 65px;
      height: 65px;
      background-color: $white;
      border: none;
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      font-size: 2.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $green;
      &::after {
        content: "";
        @include icon("icon-add", $green, 3rem);
      }
    }
  }
  &__list {
    padding: 19px;
    &__item {
      background-color: $white;
      margin-bottom: 13px;
      padding: 14px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      .text {
        font-size: 1.6rem;
        margin-right: auto;
      }
      .ico {
        width: 3rem;
        height: 3rem;
        display: block;
        // background-color: $grey;
        margin-left: 3.2rem;
        position: relative;
        &::before {
          content: "";
          width: 1px;
          height: 100%;
          left: -1.65rem;
          display: block;
          position: absolute;
          background-color: $grey;
        }
        &:nth-child(2) {
          &::before {
            display: none;
          }
        }
        &--delete,
        &--checked,
        &--unchecked {
          &::after {
            content: "";
            left: 0;
            top: 0;
            display: block;
            @include icon("icon-remove", $green, 3rem);
          }
        }
        &--checked::after {
          @include icon("icon-checked", $green, 3rem);
        }
        &--unchecked::after {
          @include icon("icon-unchecked", $green, 3rem);
        }
      }
    }
  }
}
