* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul li {
  transition: all 300ms;
}

// ul li:hover {
//   transform: scale(1.1);
// }

.big {
  transform: scale(1.75);
}
// li {
//   background-color: red;
// }
