@use "./base/reset";
@use "./base/variables" as *;
@use "./base/fonts";
@use "./base/mixins" as *;

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 50px;
  h1 {
    font-size: 5rem;
    font-weight: bold;
    color: grey;
    margin-bottom: 1rem;
  }
  li {
    background-color: lightgray;
    text-decoration: none;
    a {
      font-size: 2rem;
      text-decoration: none;
    }
  }
}
